<div>
	<label>Tytuł</label>
	<input type="text" name="title" value="<%=game.title%>" />
</div>
<div>
	<label>Liczba graczy</label>
	<input type="text" name="players" value="<%=game.players%>" />
</div>
<div>
	<label>Wiek graczy</label>
	<input type="text" name="age" value="<%=game.age%>" />
</div>
<div>
	<label>Czas rozgrywki</label>
	<input type="text" name="time" value="<%=game.time%>" />
</div>
<div>
	<label>Ilość na stanie</label>
	<input type="text" name="numberInStock" value="<%=game.numberInStock%>" />
</div>
<div>
	<label>Opis</label>
	<textarea name="description" id="" cols="30" rows="10">
<%=game.description%></textarea
	>
</div>
