<h2>Szukaj gier</h2>
<form action="/games" method="GET">
	<label>Tytuł</label>
	<input type="text" name="title" value="<%=searchOptions.title%>" />
	<button type="submit">Szukaj</button>
</form>
<br />
<div class="container-games">
	<div>Tytuł</div>
	<div>Ilość graczy</div>
	<div>Wiek</div>
	<div>Czas gry</div>
	<div>Dostępność</div>

	<div>Zobacz</div>
	<div>Wypożycz</div>
</div>
<% games.forEach(game=>{%>
<div class="container-games">
	<div><%=game.title%></div>
	<div><%=game.players%></div>
	<div><%=game.age%></div>
	<div><%=game.time%></div>
	<div>
		<%=game.numberInStock>0?'dostępne':'niedostępne'%><%=game.numberInStock%>
	</div>
	<div><a href="/games/<%=game.id%>">Zobacz</a></div>
	<% if(game.numberInStock>0){%>
	<div><a href="/rentals/<%=game.id%>/rent">Wypożycz</a></div>
	<%}else{%>
	<div>niedostępne</div>

	<%}%>
</div>
<%})%>
