<h2>Szukaj wypożyczeń</h2>
<form action="/rentals" method="GET">
	<label>Tytuł gry</label>
	<input type="text" name="title" value="<%=searchOptions.title%>" />
	<button type="submit">Szukaj</button>
</form>
<br />
<div class="container-rentals">
	<div>Gra</div>
	<div>Dane klienta</div>
	<div>Mail klienta</div>
	<div>Data wypożyczenia</div>
	<div>Data zwrotu</div>
	<div>Zwrot</div>
</div>
<% rentals.forEach(rental=>{%>
<div class="container-rentals">
	<div>
		<a href="/games/<%=rental.game._id%>"><%=rental.game.title%></a>
	</div>
	<div>
		<a href="/customers/<%=rental.customer._id%>"
			><%=rental.customer.name+' '+rental.customer.lastName%></a
		>
	</div>
	<div>
		<a href="/customers/<%=rental.customer._id%>"><%=rental.customer.mail%></a>
	</div>
	<div><%=rental.date.toISOString().split('T')[0]%></div>

	<div><%=rental.dateOfReturn.toISOString().split('T')[0]%></div>
	<div>
		<%-include('../partials/deleteForm',{url:`/rentals/${rental.id}`})%>
	</div>
</div>
<%})%>
